{% extends "rsracing/base.html" %}

{% load staticfiles %}

{% block content %}
<head>
	<meta charset="utf-8">
	<title>Contato - RS Racing UFRGS</title>
</head>
<div style='text-align: center'>
	<h1>Contato</h1>
	<h4>Gostaria de entrar em contato conosco? Mande um e-mail para nós!</h4>
	<br><p>Esta página está em construção, por enquanto, envie um email para <b><i>marketing.rsracing@gmail.com</i></b> !</p>
	<!-- <form role="form" action="" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Enviar</button>
	</form> -->
</div>
{% endblock %}