{% extends "rsracing/base.html" %}

{% load staticfiles %}

{% block content %}
<head>
	<meta charset="utf-8">
	<title>Juntando-se a Equipe - RS Racing UFRGS</title>
</head>
<div style='text-align: center'>
	<h1>Junte-se a Equipe!</h1>
	<h4>Se interessou pela equipe, e gostaria de participar dela?</h4>
	<h4>Gosta de desafios, trabalho em equipe?</h4>
	<h4>Fique atento a nossa página do <a href='https://www.facebook.com/RSRacingTeam/' target="_blank"><i>Facebook</i></a> para os processos seletivos!</h4>
	<img src='{% static "images/slideshow/RSRacing_UFRGS_no_FSAE_Brasil_2015.jpg" %}' alt='Equipe' style='height:60%; width:60%;'>
</div>
{% endblock %}