{% extends "rsracing/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<head>
	<meta charset="UTF-8">
	<title>Seja nosso Patrocinador! - RS Racing UFRGS</title>
</head>

<style type='text/css'>
	#texto_seja_patrocinador{
		text-align: center;
	}
</style>

<h1 style='text-align: center;'>Seja nosso patrocinador</h1>

<div id='texto_seja_patrocinador'>
	<p>Se interessou em ser patrocinador da nossa equipe?</p>
	<p>Entre em contato conosco para saber mais!</p>
	<p>Envie um email para <b><i>marketing.rsracing@gmail.com</i></b> !</p>
</div>

{% endblock %}